body {
    padding: 0%;  
    background-color: rgba(209, 3, 3, 0.47)726);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

header {
    background-color: rgb(255, 0, 0);
}

header img {
    width: 120px;
}

header nav li {
    display: inline;
}

header input {
    border-radius: 20px;
}
video {
    width: 100%;

}
.flex-item{
    flex: 1;
}

img{
    width: 100%;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}

#shirts img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

#categorie img{
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

footer{
    padding: 3rem;
    background-color: black;
}

footer a {
    text text-decoration: none;
}

footer li:first-child a {
    font-weight: 900;
    font-size: 1.2rem;
}

footer {
    padding: 5vw 10vw;
    background-color: #050505;
    color: #ff0000;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #ff0000;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer i {
    margin-left: 2ch;
    font-size: 2.4rem;
}

footer i:hover {
    transform: scale(1.1);
}

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  footer {
    background-color: #746565;
    text-align: center;
  }
  
  footer p {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    margin-top: 10px;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links li a {
    color: #412828;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }